<label>
    Логин
    <input type="text" pattern="^[a-z0-9_-]{5,16}$" name={{ form.username.html_name }} value="{{ form.username.value }}"
           required>
    <span class="form-error">Обязательное поле. Допустимы англ. буквы, цифры, дефисы и подчёркивания, от 5 до 16 символов.</span>
</label>

<label>
    E-mail
    <input type="text" pattern="email" id="email" name={{ form.email.html_name }} value="{{ form.email.value }}"
           required>
    <span class="form-error">Обязательное поле. Необходим валидный e-mail вида username@mail.ru</span>
</label>

<label>
    Пароль
    <input type="password" pattern="^[a-z0-9_-]{8,16}$"
           name={{ form.password.html_name }} value="{{ form.password.value }}" required>
    <span class="form-error">Обязательное поле. Допустимы англ. буквы, цифры, дефисы и подчёркивания, от 8 до 16 символов.</span>
</label>

<label>
    Фамилия
    <input type="text" name={{ form.last_name.html_name }}
           value="{{ form.last_name.value }}" required>
    <span class="form-error">Обязательное поле.</span>
</label>

<label>
    Имя
    <input type="text" name={{ form.first_name.html_name }}
           value="{{ form.first_name.value }}" required>
    <span class="form-error">Обязательное поле.</span>
</label>

<label>
    Отчество
    <input type="text" name={{ form.father_name.html_name }}
           value="{{ form.father_name.value }}" required>
    <span class="form-error">Обязательное поле.</span>
</label>

<label>
    Дата выдачи паспорта
    <input type="text" id="passport_date"
           name={{ form.passport_date.html_name }} value="{{ form.passport_date.value }}"
           pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" required>
    <span class="form-error">Обязательное поле.</span>
</label>

<label>
    Серия паспорта
    <input type="text" id="passport_ser"
           name={{ form.passport_ser.html_name }} value="{{ form.passport_ser.value }}" pattern="[A-Z]{2}[0-9]{7}"
           required>
    <span class="form-error">Обязательное поле. Большие англ. буквы. 9 символов</span>
</label>

<label>
    Идентификационный номер
    <input type="text" id="passport_id" placeholder="1234567A123BC1"
           name={{ form.passport_id.html_name }} value="{{ form.passport_id.value }}"
           pattern="[0-9]{7}[A-Z]{1}[0-9]{3}[A-Z]{2}[0-9]{1}" required>
    <span class="form-error">Обязательное поле. Большие англ. буквы. 14 символов</span>
</label>

<label>
    Контактный телефон
    <input type="text" id="phone" name={{ form.phone.html_name }} value="{{ form.phone.value }}" required
           pattern="\+\d\d\d \d\d \d\d\d\-\d\d\-\d\d">
    <span class="form-error">Обязательное поле.</span>
</label>

<label>
    Адрес
    <input type="text" id="address" name={{ form.address.html_name }} value="{{ form.address.value }}" required>
    <span class="form-error">Обязательное поле.</span>
</label>

<label>
    Дата рождения
    <input type="text" id="birthday" pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}"
           name={{ form.birthday.html_name }} value="{{ form.birthday.value }}" required>
    <span class="form-error">Обязательное поле.</span>
</label>