{% extends "body.html" %}

{% block title %}
    <title>Измененить пароль</title>
{% endblock %}

{% block content %}
    <form class="abide-form" data-abide novalidate action="{% url 'profile:setpassword' id %}" method="post">
        {% csrf_token %}
        <label>Новый пароль
            <input type="password" pattern="^[a-z0-9_-]{8,16}$" name="password_new" id="password" required>
            <span class="form-error">
              Обязательное поле. Допустимы англ. буквы, цифры, дефисы и подчёркивания, от 8 до 16 символов.
            </span>
        </label>
        <label>Повторно введите новый пароль
            <input type="password" pattern="^[a-z0-9_-]{8,16}$" name="password_new_repeat" required
                   data-equalto="password">
            <span class="form-error">
              Обязательное поле. Пароли не совпадают!
            </span>
        </label>
        <input class="btn btn-default" type="submit" value="Подтвердить"/>
    </form>
    <script>
        $(document).foundation();
    </script>
{% endblock %}