{% extends "body.html" %}

{% block title %}
    <title>Вклады</title>
{% endblock %}

{% block content %}
    {% if depositList %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-inverse">
                <tr>
                    <td>Название</td>
                    <td>Описание</td>
                </tr>
                </thead>
                {% for deposit in depositList %}
                    <tr>
                        <td><a href={% url 'deposit:new' deposit.id %}>{{ deposit.title }}</a></td>
                        <td>{{ deposit.description }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <h2>Депозитов нет.</h2>
    {% endif %}

{% endblock %}