{% extends "body.html" %}

{% block title %}
    <title>Вклады</title>
{% endblock %}

{% block content %}
    {% if depositList %}
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <td>Название</td>
                    <td>Процент</td>
                    <td>Минимальная сумма</td>
                    <td>Срок хранения</td>
                    <td>Период выплат</td>
                    <td>Возможность пополнения</td>
                    <td>Капитализация</td>
                    <td>Валюта привязки</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for deposit in depositList %}
                    <tr>
                        <td>{{ deposit.title }}</td>
                        <td>{{ deposit.percent }}%</td>
                        <td>{{ deposit.format_min_amount }}</td>
                        <td>{{ deposit.format_duration }}</td>
                        <td>{{ deposit.format_pay_period }}</td>
                        <td>{{ deposit.is_refill }}</td>
                        {% if deposit.is_capitalization %}
                            <td>{{ deposit.is_capitalization }}</td>
                            <td>{{ deposit.binding_currency.title }}</td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                        {% if not deposit.is_archive %}
                            <td>
                                <a href="{% url 'deposit:edit' deposit.id %}">редактировать</a>
                                <a href="{% url 'deposit:listToArch' deposit.id %}">добавить в архив</a>
                            </td>
                        {% else %}
                            <td>Архивный</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <h2>Вкладов нет.</h2>
    {% endif %}

    <a href="{% url 'deposit:new' %}" class="btn btn-default"> Новый вклад </a>

{% endblock %}