{% extends "body.html" %}

{% block title %}
    <title>Карточки</title>
{% endblock %}

{% block content %}
    {% if bills %}
        <p><select name="num" form="data">
            <option disabled>Выберите счёт</option>
            {% for b in bills %}
                <option selected value={{ b.id }}>Счёт номер {{ b.id }} </option>
            {% endfor %}
        </select></p>

        <form id="data" action={% url 'bill:addonbill' %} method="post">
            {% csrf_token %}
            <p><input type="number" name="money" value=0></p>
            <p><input type="submit" value="Отправить"></p>
        </form>
    {% endif %}
{% endblock %}