{% extends "body.html" %}

{% block title %}
    <title>Счета</title>
{% endblock %}

{% block content %}

    <div class="container" id="tourpackages-carousel">
        <div class="row">
            <div class="col-lg-12"><h1>Мои счета <a data-toggle="modal" data-target="#myModalTransact"
                                                    class="btn icon-btn btn-primary pull-right">
                <span class="glyphicon btn-glyphicon glyphicon-plus img-circle"></span> Переводы</a></h1></div>

            {% for b in bills %}


                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <div class='col-lg-12'>
                                <h4>Счёт номер №{{ b.id }}</h4>
                            </div>
                            <div class='col-lg-12 well well-add-card'>
                                <h4 id="summa_{{ b.id }}">{{ b.money|floatformat:2 }} {{ b.currency.title }}</h4>
                            </div>
                            <div class='col-lg-12'>
                                <p>Валюта : <span style="font-weight: bold;color: green">{{ b.currency.title }}</span>
                                </p>
                            </div>
                            <br>
                            <a data-toggle="modal" class="btn btn-primary btn-xs btn-update btn-add-card "
                               data-target="#myModalOperations" data-billid="{{ b.id }}">
                                История счёта</a>
                            <a data-toggle="modal" class="btn btn-primary btn-xs btn-update btn-add-card "
                               data-target="#myModalContracts" data-billid="{{ b.id }}">
                                Депозиты в текущем счёте</a>
                        </div>
                    </div>
        </div>
            {% endfor %}

        </div>
    </div>


    {% include 'modals/user_bills.html' %}

        {% load staticfiles %}
        <script type="text/javascript" src="{% static "myjs/client_bills.js" %}"></script>
        <script type="text/javascript">
            $(document).foundation();
            jQuery(function ($) {
            });
        </script>

    <h1><span style="position: fixed;right: 1%;top: 95%" id="lastoperation" class="label label-success"></span></h1>

{% endblock %}


