{% extends "body.html" %}

{% block title %}
    <title>Счета</title>
{% endblock %}

{% block content %}
    {% if bills %}
        <div><a class="btn btn-default" data-toggle="modal" data-target="#myModalTransact">Переводы</a>
            <span id="lastoperation" class="label label-success"></span>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-inverse">
                <tr>
                    <td>Счёт №</td>
                    <td>Баланс</td>
                    <td></td>
                </tr>
                </thead>
                {% for b in bills %}
                    <tr>
                        <td>{{ b.id }}</td>
                        <td>{{ b.value_in_currency }}</td>
                        <td>
                            <a data-toggle="modal" data-target="#myModalOperations" data-billid="{{ b.id }}">
                                История счёта</a>
                            <br>
                            <a data-toggle="modal" data-target="" data-billid="{{ b.id }}">
                                Депозиты в текущем счёте</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {% include 'modals/user_bills.html' %}

        {% load staticfiles %}
        <script type="text/javascript" src="{% static "myjs/client_bills.js" %}"></script>
        <script type="text/javascript">
            $(document).foundation();
            jQuery(function ($) {
            });
        </script>

    {% else %}
        <h2>Счетов нет.</h2>
    {% endif %}
{% endblock %}


