{% extends "body.html" %}

{% block title %}
    <title>Карточки</title>
{% endblock %}

{% block content %}
    {% if cards %}
        <table class="table table-striped">
            <tr>
                <td>Карточка №</td>
                <td>Счёт номер</td>
                <td>Лимит карточки</td>
            </tr>
            {% for c in cards %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td>
                        <a href={% url 'bill:cardsinbill' pk=c.bill_id %}>{{ c.bill_id }}</a>
                    </td>
                    <td>{{ c.limit }} рубля</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}