{% extends "body.html" %}

{% block title %}
    <title>Конфигкратор дипозитов</title>
{% endblock %}

{% block content %}

     {% if depositList %}
    <table class="table table-striped">
        {% for deposit in depositList %}
            <tr>
                <td>{{ deposit.title }}</td>
                <td>{{  deposit.percent }} %</td>
                <td>{{  deposit.min_amount }} {{ deposit.getCurrencyTitle }}</td>
                <td>{{  deposit.duration }} months</td>
                <td>{{  deposit.is_archive }} %</td>
                <td><a href="/admin/deposits/{{ deposit.id }}/"> редоктировать </a></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <br>
        <p>No available Deposits</p>
    {% endif %}

    <a href="/admin/newDeposit/" class="btn btn-default"> Новый вклад </a>

{% endblock %}