<div class="modal fade" id="myModalReadMessage" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Сообщение</h4>
            </div>
            <div class="modal-body">
                <p id="contentname" style="font-weight: bold;"></p>
                <p><input name="message_id" style="display: none" form="deletemessagelForm" id="messageid"></p>
                <p><input value="Загрузка..." readonly class="form-control" placeholder="Зоголовок"
                          id="headerinMessage"
                          type="text" name="header"></p>
                <p><textarea readonly class="form-control" placeholder="Сообщение" id="messageinMessage" rows="3"
                             form="messageForm" type="text" name="message">Загрузка...</textarea></p>
            </div>
            <div class="modal-footer">
                <form id="deletemessagelForm" class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <input class="btn btn-warning" type="submit" value="Удалить"/>
                </form>
            </div>
        </div>
    </div>
</div>