<div class="modal fade" id="myModalOperations" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Операции</h4>
            </div>
            <div class="modal-body">
                <div>
                    <table id="billoperations" class="table table-bordered table-hover">
                        <tr>
                            <td>Тип операции</td>
                            <td>Дата</td>
                            <td>Сумма</td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalFill" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Пополнение вклада</h4>
            </div>
            <div class="modal-body">
                <p id="errors" style="color: red"></p>
                <p><input name="contid" style="display: none" form="clientfillForm" id="contract_id"></p>
            </div>
            <div class="modal-footer">
                <form class="abide-form" data-abide novalidate id="clientfillForm" class="form-horizontal" action=""
                      method="post">
                    {% csrf_token %}

                    <label>
                        <select id="clientbills" name="billid" form="clientfillForm" required>
                        </select>
                        <span class="form-error">Не выбран счёт, возможно у пользователся нет счетов</span>
                    </label>

                    <label>
                        <input required pattern="^[1-9]{1,1}[0-9]{0,8}$" id="clientfillForm_money" placeholder="Сумма"
                               form="clientfillForm" type="number" name="money">
                        <span class="form-error">Введите сумму, от 1 до 999.999.999</span>
                    </label>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <input class="btn btn-warning" type="submit" value="Пополнить"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalTake" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Снятие</h4>
            </div>
            <div class="modal-body">
                <p id="errors" style="color: red"></p>
                <p><input name="contid" style="display: none" form="clienttakeForm" id="contract_id"></p>
            </div>
            <div class="modal-footer">
                <form class="abide-form" data-abide novalidate id="clienttakeForm" class="form-horizontal" action=""
                      method="post">
                    {% csrf_token %}
                    <label class="checkbox-inline">
                        <input type="checkbox" name="necessarily" form="clienttakeForm" id="necessarily_checkbox">
                        Экстренное снятие
                        <span class="form-error"></span>
                    </label>
                    <label>
                        <input required pattern="^[1-9]{1,1}[0-9]{0,8}$" id="clientfillForm_money" placeholder="Сумма"
                               form="clienttakeForm" type="number" name="money">
                        <span class="form-error">Введите сумму, от 1 до 999.999.999</span>
                    </label>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <input class="btn btn-warning" type="submit" value="Снять"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalClose" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Закрытие вклада</h4>
            </div>
            <div class="modal-body">
                <p id="errors" style="color: red"></p>
                <p><input name="contid" style="display: none" form="closecontractForm" id="contract_id"></p>
            </div>
            <div class="modal-footer">
                <form class="abide-form" data-abide novalidate id="clienttakeForm" class="form-horizontal" action=""
                      method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <input class="btn btn-warning" type="submit" value="Закрыть"/>
                </form>
            </div>
        </div>
    </div>
</div>


