<div class="modal fade" id="myModalTransact" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Перевод денег </h4>
            </div>
            <div class="modal-body">
                <p id="errors" style="color: red"></p>
                <div>
                    <p><select id="billtransactelecttocard" name="from" form="transactForm">
                        <option selected value="Из счёта" disabled>Из счёта</option>
                    </select></p>
                    <p><select id="billtransactelecttocard2" name="to" form="transactForm">
                        <option selected value="В счёт" disabled>В счёт</option>
                    </select></p>
                    <p><input placeholder="Сумма" form="transactForm" type="number" name="money"></p>
                    <p><select id="currencyselect" name="currency" form="transactForm">
                        <option disabled>Загрузка...</option>
                    </select></p>
                </div>
            </div>
            <div class="modal-footer">
                <form id="transactForm" class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <input class="btn btn-warning" type="submit" value="Перевести"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalCards" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Карточки</h4>
            </div>
            <div class="modal-body">
                <div>
                    <span id="billnum"></span>
                    <table id="billcards" class="table table-striped">
                        <tr>
                            <td>Номер карточки</td>
                            <td>Лимит</td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalOperations" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Операции</h4>
            </div>
            <div class="modal-body">
                <div>
                    <table id="billoperations" class="table table-striped">
                        <tr>
                            <td>Тип операции</td>
                            <td>Дата</td>
                            <td>Сумма</td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
