{% extends "body.html" %}

{% block title %}
    <title>Измененить профиль</title>
{% endblock %}

{% block content %}
    <form class="abide-form" data-abide novalidate action="{% url 'client:edit' %}" method="post">
        {% csrf_token %}
        <label>Фамилия
            <input type="text" name={{ form.last_name.html_name }} value={{ form.last_name.value }} required
                   pattern={{ alpha_rus }}
            <span class="form-error">
              Обязательное поле. Допустимы только русские буквы
            </span>
        </label>
        <label>Имя
            <input type="text" name={{ form.first_name.html_name }} value={{ form.first_name.value }} required
                   pattern={{ alpha_rus }}>
            <span class="form-error">
              Обязательное поле. Допустимы только русские буквы
            </span>
        </label>
        <label>Отчество
            <input type="text" name={{ form.father_name.html_name }} value={{ form.father_name.value }} required
                   pattern={{ alpha_rus }}>
            <span class="form-error">
              Обязательное поле. Допустимы только русские буквы
            </span>
        </label>
        <input class="btn btn-default" type="submit" value="Подтвердить"/>
    </form>
    <script>
        $(document).foundation();
    </script>
{% endblock %}