{% if client %}
    <div>Пасспорт <h5 style="font-weight: bold">{{ client.passport_ser }}{{ client.passport_id }}</h5></div>
    <div>Дата выдачи пасспорта: <h5 style="font-weight: bold">{{ client.passport_date }}</h5></div>
    <div>Телефон <h5 style="font-weight: bold">{{ client.phone }}</h5></div>
    <div>Адресс <h5 style="font-weight: bold">{{ client.address }}</h5></div>
    <div>Дата рождения <h5 style="font-weight: bold">{{ client.birthday }} ({{ client.get_age }} года/лет)</h5></div>
{% endif %}