{% extends "body.html" %}

{% block title %}
    <title>Клиенты</title>
{% endblock %}

{% block content %}
    {% if clients %}
        <table class="table table-striped">
            <tr>
                <td>ФИО</td>
                <td>Идентификационный номер</td>
            </tr>
            {% for client in clients %}
                <tr>
                    <td>{{ client.get_full_name }}</td>
                    <td>{{ client.passport_id }}</td>
                </tr>

            {% endfor %}
        </table>
    {% endif %}
{% endblock %}