{% for client in clients %}
    <tr>
        <td width="20%" id="client_{{ client.id }}">
            <a href="" data-toggle="modal"
               data-target="#myModalInfo" data-contentname="{{ client.get_full_name }}"
               data-contentid="{{ client.id }}">{{ client.get_full_name }}
            </a>
        </td>
        <td width="20%">{{ client.passport_id }}</td>
        <td width="20%">
            <a href="" data-toggle="modal"
               data-target="#myModalMessage" data-contentname="{{ client.get_full_name }}"
               data-contentid="{{ client.id }}">Отправить сообщение
            </a>
        </td>
        <td width="10%">
            <a href="" data-toggle="modal"
               data-target="#myModalNewBill" data-contentname="{{ client.get_full_name }}"
               data-contentid="{{ client.id }}">Новый счёт
            </a>
        </td>
        <td width="15%">
            <a href="" type="button" data-toggle="modal"
               data-target="#myModalFill" data-contentname="{{ client.get_full_name }}"
               data-contentid="{{ client.id }}">Пополнить счёт
            </a>
        </td>
        <td width="15%">
            <a href="" type="button" data-toggle="modal"
               data-target="#myModalUserBills" data-contentname="{{ client.get_full_name }}"
               data-contentid="{{ client.id }}">Инфо. о счётах
            </a>
        </td>
    </tr>

    {% endfor %}
