{% for client in clients %}

    <tr>
        <td>
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle"
                 width="60">
        </td>
        <td id="client_{{ client.id }}">
            <h4>
                <b>{{ client.get_full_name }}</b>
            </h4>
            <a href="" data-toggle="modal"
               data-target="#myModalInfo" data-contentname="{{ client.get_full_name }}"
               data-contentid="{{ client.id }}">Информация</a>
        </td>
        <td><br>{{ client.passport_id }}</td>
        <td><br>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    Операции <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="" data-toggle="modal"
                           data-target="#myModalNewBill" data-contentname="{{ client.get_full_name }}"
                           data-contentid="{{ client.id }}">Новый счёт
                    </a></li>
                    <li><a href="" type="button" data-toggle="modal"
                           data-target="#myModalFill" data-contentname="{{ client.get_full_name }}"
                           data-contentid="{{ client.id }}">Пополнить счёт
                    </a></li>
                    <li><a href="" type="button" data-toggle="modal"
                           data-target="#myModalUserBills" data-contentname="{{ client.get_full_name }}"
                           data-contentid="{{ client.id }}">Инфо. о счётах
                    </a></li>
                    <li class="divider"></li>
                    <li><a href="" data-toggle="modal"
                           data-target="#myModalMessage" data-contentname="{{ client.get_full_name }}"
                           data-contentid="{{ client.id }}">Отправить сообщение
                    </a></li>
                </ul>
            </div>
        </td>
    </tr>

{% endfor %}
