{% extends "body.html" %}

{% block title %}
    <title>Клиенты</title>
{% endblock %}

{% block content %}
    {% if errors %}
        {% for e in errors %}
            <div>{{ e }}</div>
        {% endfor %}
    {% endif %}
    <form class="form-horizontal" action="{% url 'client:search' %}" method="post">
            {% csrf_token %}
                        <div class="fieldWrapper">
                            {{ form.first_name }}
                            <label for="first_name">{{ form.first_name.label }}</label>
                        </div>
                        <div class="fieldWrapper">
                            {{ form.last_name }}
                            <label for="last_name"> {{ form.last_name.label }}</label>
                        </div>
                        <div class="fieldWrapper">
                            {{ form.passport_id }}
                            <label for="passport_id">{{ form.passport_id.label }}</label>
                        </div>

            <input class="btn btn-default" type="submit" value="Поиск" />
        </form>

    {% if clients %}

        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <td>ФИО</td>
                    <td>Идентификационный номер</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.get_full_name }}</td>
                        <td>{{ client.passport_id }}</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-toggle="modal"
                                    data-target="#myModalChangeUser" data-father="{{ client.father_name }}"
                                    data-last="{{ client.last_name }}" data-first="{{ client.first_name }}"
                                    data-contentname="{{ client.get_full_name }}"
                                    data-contentid="{{ client.id }}">Изменить
                            </button>

                        </td>
                        <td>
                            <button type="button" class="btn btn-warning" data-toggle="modal"
                                    data-target="#myModalMessage" data-contentname="{{ client.get_full_name }}"
                                    data-contentid="{{ client.id }}">Отправить сообщение
                            </button>

                        </td>
                        <td>
                            <button type="button" class="btn btn-warning" data-toggle="modal"
                                    data-target="#myModalNewBill" data-contentname="{{ client.get_full_name }}"
                                    data-contentid="{{ client.id }}">Новый счёт
                            </button>

                        </td>
                        <td>
                            <button type="button" class="btn btn-warning" data-toggle="modal"
                                    data-target="#myModalFill" data-contentname="{{ client.get_full_name }}"
                                    data-contentid="{{ client.id }}">Пополнить счёт
                            </button>

                        </td>
                        <td>
                            <button type="button" class="btn btn-warning" data-toggle="modal"
                                    data-target="#myModalNewCard" data-contentname="{{ client.get_full_name }}"
                                    data-contentid="{{ client.id }}">Новая карточка
                            </button>

                        </td>
                    </tr>

                {% endfor %}
            </table>
        </div>


        <div class="modal fade" id="myModalNewBill" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                        <h4 class="modal-title">Новый счёт</h4>
                    </div>
                    <div class="modal-body">
                        <p>Добавить новый счёт для : </p>
                        <p id="contentname" style="font-weight: bold;"></p>
                        <p><input name="num" style="display: none" form="addbillForm" id="userid"></p>
                    </div>
                    <div class="modal-footer">
                        <form id="addbillForm" class="form-horizontal" action="{% url 'bill:addbill' %}" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                            <input class="btn btn-warning" type="submit" value="Добавить"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModalNewCard" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                        <h4 class="modal-title">Новая карточка</h4>
                    </div>
                    <div class="modal-body">
                        <p>Добавить карточку для : </p>
                        <p id="contentname" style="font-weight: bold;"></p>
                        <div>
                            <p><select id="billselecttocard" name="num" form="addcardForm">
                                <option disabled>Загрузка...</option>
                            </select></p>
                            <p><input placeholder="Лимит" form="addcardForm" type="number" name="limit"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form id="addcardForm" class="form-horizontal" action="{% url 'bill:addcard' %}" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                            <input class="btn btn-warning" type="submit" value="Добавить"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModalFill" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                        <h4 class="modal-title">Пополнение</h4>
                    </div>
                    <div class="modal-body">
                        <p>Пополнение счёта для : </p>
                        <p id="contentname" style="font-weight: bold;"></p>
                        <div>
                            <p><select id="billfillselecttocard" name="num" form="addonbillForm">
                                <option disabled>Загрузка...</option>
                            </select></p>
                            <p><input placeholder="Сумма" form="addonbillForm" type="number" name="money"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form id="addonbillForm" class="form-horizontal" action="{% url 'bill:addonbill' %}"
                              method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                            <input class="btn btn-warning" type="submit" value="Добавить"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModalMessage" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                        <h4 class="modal-title">Сообщение</h4>
                    </div>
                    <div class="modal-body">
                        <p>Отправить сообщение для : </p>
                        <p id="contentname" style="font-weight: bold;"></p>
                        <p><input name="num" style="display: none" form="messageForm" id="userid"></p>
                        <div>
                            <p><input class="form-control" placeholder="Зоголовок" id="headerFormVal" form="messageForm"
                                      type="text"
                                      name="header"></p>
                            <p><textarea class="form-control" placeholder="Сообщение" id="messageFormVal" rows="3"
                                         form="messageForm" type="text" name="message"></textarea></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form id="messageForm" class="form-horizontal" action="{% url 'message:send' %}" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                            <input class="btn btn-warning" type="submit" value="Добавить"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModalChangeUser" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                        <h4 class="modal-title">Изменение</h4>
                    </div>
                    <div class="modal-body">
                        <p>Изменить данные для : </p>
                        <p id="contentname" style="font-weight: bold;"></p>
                        <div>
                            <p><input name="num" style="display: none" form="changeuserForm" id="userid"></p>
                            <p><input type="text" name="firstname" placeholder="Имя" form="changeuserForm"
                                      id="userfirstname"></p>
                            <p><input type="text" name="lastname" placeholder="Фамилия" form="changeuserForm"
                                      id="userlastname"></p>
                            <p><input type="text" name="fathername" placeholder="Отчество" form="changeuserForm"
                                      id="userfathername"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form id="changeuserForm" class="form-horizontal" action="{% url 'employee:uedit' %}"
                              method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                            <input class="btn btn-warning" type="submit" value="Изменить"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('#myModalChangeUser').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                $(this).find('#contentname').text(button.data('contentname'));
                $(this).find('#userfirstname').val(button.data('first'));
                $(this).find('#userlastname').val(button.data('last'));
                $(this).find('#userfathername').val(button.data('father'));
                $(this).find('#userid').val(button.data('contentid'))

            });
            $('#myModalNewBill').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                $(this).find('#contentname').text(button.data('contentname'));
                $(this).find('#userid').val(button.data('contentid'))
            });
            $('#myModalMessage').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                $(this).find('#contentname').text(button.data('contentname'));
                $(this).find('#userid').val(button.data('contentid'))
            });
            $('#myModalFill').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                userid = Number(button.data('contentid'));
                $(this).find('#contentname').text(button.data('contentname'));
                $.get('/bill/getuserbills/' + userid + "/", function (data) {
                    bills = data['bills'];
                    $('#billfillselecttocard').empty();
                    for (i in bills)
                        $('#billfillselecttocard').append('<option selected value=' + bills[i] + '>Счёт номер ' + bills[i] + '</option>')
                });
            });
            $('#myModalNewCard').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                userid = Number(button.data('contentid'));
                $(this).find('#contentname').text(button.data('contentname'));
                $.get('/bill/getuserbills/' + userid + "/", function (data) {
                    bills = data['bills'];
                    $('#billselecttocard').empty();
                    for (i in bills)
                        $('#billselecttocard').append('<option selected value=' + bills[i] + '>Счёт номер ' + bills[i] + '</option>')
                });
            })
        </script>

    {% endif %}
{% endblock %}