{% extends "body.html" %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block content %}

    <form class="abide-form" data-abide novalidate action="{% url 'client:new' %}" method="post">
        {% csrf_token %}

        {% include 'profile/registration.html' %}

        <input class="btn btn-default" type="submit" value="Зарегестрировать"/>
    </form>

    <script>
        $(document).foundation();
        jQuery(function ($) {
            $('#passport_date').inputmask("dd-mm-yyyy");
            $('#passport_ser').inputmask('Regex', {regex: "[A-Z]{2}[0-9]{7}"});
            $('#passport_id').inputmask('Regex', {regex: "[0-9]{7}[A-Z]{1}[0-9]{3}[A-Z]{2}[0-9]{1}"});
            $('#phone').inputmask("+375 99 999-99-99");
            $('#birthday').inputmask("dd-mm-yyyy");
        });
    </script>
{% endblock %}