{% extends "body.html" %}

{% block title %}
    <title>Измененить профиль</title>
{% endblock %}

{% block content %}
    <form class="abide-form" data-abide novalidate action="{% url 'employee:edit' %}" method="post">
        {% csrf_token %}
        <label>E-mail адрес
            <input type="email" name={{ form.email.html_name }} value={{ form.email.value }} required>
            <span class="form-error">
              Обязательное поле. Допустимы только цифры и англ. буквы
            </span>
        </label>
        <input class="btn btn-default" type="submit" value="Подтвердить"/>
    </form>
    <script>
        $(document).foundation();
    </script>
{% endblock %}