{% extends "body.html" %}

{% block title %}
    <title>Сотрудники</title>
{% endblock %}

{% block content %}
    {% if admins %}
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-striped">
                            <h1>Сотрудники
                                <a class="btn icon-btn btn-primary pull-right" href="{% url 'employee:new' %}">
                                    <span class="glyphicon btn-glyphicon glyphicon-plus img-circle"></span>
                                    Зарегестрировать
                                </a>
                            </h1>

                            <tbody>
                            {% for admin in admins %}
                                <tr>
                                    <td>
                                        <!-- <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle" width="60">
                                        --> <img src="https://avatars0.githubusercontent.com/u/8324045?v=3&s=400"
                                                class="img-circle" width="60">
                                    </td>
                                    <td id="client_{{ admin.id }}">
                                        <h4>
                                            <b>{{ admin.get_full_name }}</b>
                                        </h4>
                                        <a href="mailto:{{ admin.email }}">{{ admin.email }}</a>
                                    </td>
                                    <td><a href={% url 'profile:setpassword' admin.id %}>Сменить пароль
                                    </a></td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}