{% extends "body.html" %}

{% block title %}
    <title>Статистика</title>
{% endblock %}

{% block head %}
    <style>
        @media (max-width: 900px) {
            .chart_container {
                width: 100%;
            }
        }

        @media (min-width: 900px) {
            .chart_container {
                width: 50%;
            }
        }
    </style>

    {% load staticfiles %}
    <script type="text/javascript" src="{% static "Chart.bundle.min.js" %}"></script>
{% endblock %}

{% block content %}
    <h1 id="loader">Идет загрузка данных...</h1>

    <div id="content" style="opacity: 0; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-around;">
        <div class="chart_container">
            <h1>Популярность вкладов</h1>
            <canvas id="deposit_popularity"></canvas>
        </div>

        <div class="chart_container">
            <h1>Популярность валют</h1>
            <canvas id="currency_popularity"></canvas>
        </div>

        <div class="chart_container">
            <h1>Сумма стартового пополнения</h1>
            <canvas id="amount_popularity"></canvas>
        </div>

        <div class="chart_container">
            <h1>Закрыты досрочно</h1>
            <canvas id="bad_popularity"></canvas>
        </div>
    </div>

    <script src={% static "myjs/statistics.js" %}></script>
{% endblock %}