{% extends "body.html" %}

{% block title %}
    <title>Статистика</title>
{% endblock %}

{% block content %}
    <h1 id="loader">Идет загрузка данных...</h1>
    <style>
        @media (max-width: 900px) {
            .chart_container {
                width: 100%;
            }
        }
        @media (min-width: 900px) {
            .chart_container {
                width: 50%;
            }
        }
        .chart {
            height: 200px;
            width: 100%;
        }
    </style>
    <div id="content" style="opacity: 0; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-around;">
        <div class="chart_container">
            <h1>Популярность вкладов</h1>
            <div id="deposit_popularity" class="chart"></div>
        </div>

        <div class="chart_container">
            <h1>Популярность валют</h1>
            <div id="currency_popularity" class="chart"></div>
        </div>

        <div class="chart_container">
            <h1>Сумма стартового пополнения</h1>
            <div id="amount_popularity" class="chart"></div>
        </div>
    </div>

    <script>
        $.get('/employee/stats/', function (responce) {
            console.log(responce);
            var axisX = {
                labelFontSize: 10,
                labelAutoFit: true,
            }

            function sort_y(a, b) {
                return (a.y < b.y) ? true : false;
            }

            $("#deposit_popularity").CanvasJSChart({
                axisX: axisX,
                data: [{
                    type: 'column',
                    toolTipContent: "{label}/{y}",
                    dataPoints: responce.deposit_popularity.sort(sort_y)
                }]
            });

            $("#currency_popularity").CanvasJSChart({
                axisX: axisX,
                data: [{
                    type: 'column',
                    toolTipContent: "{label}/{y}",
                    dataPoints: responce.currency_popularity.sort(sort_y)
                }]
            });

            $("#amount_popularity").CanvasJSChart({
                axisX: axisX,
                data: [{
                    type: 'column',
                    toolTipContent: "{label}/{y}",
                    dataPoints: responce.amount_popularity.sort(sort_y)
                }]
            });

            $('#content')[0].style.opacity = '100';
            $('#loader')[0].style.display = 'none';
            $('.canvasjs-chart-credit').css('display','none');
        })
    </script>
{% endblock %}