{% extends "body.html" %}

{% block title %}
    <title>My deposits</title>
{% endblock %}

{% block content %}
    {% if contracts %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-inverse">
                <tr>
                    <td>Вклад</td>
                    <td>Сумма</td>
                    <td>Процент</td>
                    <td>Дата подписания</td>
                    <td>Дата окончания</td>
                    <td>Период выплат</td>
                    <td>Возможность частичного снятия</td>
                    <td>Счет привязки</td>
                    <td>Капитализация</td>
                    <td colspan="3"><span id="lastoperation" class="label label-success"></span></td>
                </tr>
                </thead>
                {% for contract in contracts %}
                    <tr>
{#                        <td><a href={% url 'contract:info' contract.id %}>{{ contract.deposit.title }}</a></td>#}
                        <td>{{ contract.deposit.depositType.title }}
                            "{{ contract.deposit.title }}"
                        </td>
                        <td id="summa_{{ contract.id }}">{{ contract.deposit_bill.value_in_currency }}</td>
                        <td>{{ contract.get_percent }}%</td>
                        <td>{{ contract.sign_date }}</td>
                        <td>{{ contract.end_date }}</td>
                        <td>{{ contract.deposit.format_pay_period }}</td>
                        <td>{{ contract.deposit.format_withdrawal }}</td>
                        <td>{{ contract.bill }}</td>
                        <td>{{ contract.deposit.format_capitalization }}</td>
                        <td>
                            <a data-toggle="modal" data-target="#myModalOperations" data-contractid="{{ contract.id }}">История операций</a>
                        </td>

                        {% if contract.deposit.is_refill %}
                            <td>
                                <a data-toggle="modal" data-target="#myModalFill" data-contractid="{{ contract.id }}">Пополнить</a>
                                <br>{{ contract.deposit.get_min_refill }}
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        <td>
                            <a data-toggle="modal" data-target="#myModalTake"
                               data-contractid="{{ contract.id }}">Снять</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {% include 'modals/contract_list.html' %}

        {% load staticfiles %}
        <script type="text/javascript" src="{% static "myjs/contract_list.js" %}"></script>
    {% else %}
        <h2>Вкладов нет</h2>
    {% endif %}
{% endblock %}