{% extends "body.html" %}

{% block title %}
    <title>Конфигуратор депозитов</title>
{% endblock %}

{% block content %}

    <br> {{ deposit.depositType.title }} "{{ deposit.title }}"
    <br>
    <br>Описание: {{ deposit.depositType.description }}
    <br>
    <br>Минимальная сумма: {{ deposit.format_min_amount }}
    <br>
    <br>
    {% for error in errors %}
        <p class="bg-danger">{{ error }}</p>
    {% endfor %}

    <br>

    <form action="{% url 'contract:new' ID %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-default" type="submit" value="Подтвердить" />
    </form>


{% endblock %}