{% extends "body.html" %}

{% block title %}
    <title>Конфигуратор депозитов</title>
{% endblock %}

{% block content %}

    <br> {{ deposit.title }}
    <br>
    <br>Описание: {{ deposit.depositType.description }}


    {% for error in errors %}
        <br> {{ error }}
    {% endfor %}

    <br>
    <br>

    <form action="{% url 'contract:new' ID %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-default" type="submit" value="Подтвердить" />
    </form>


{% endblock %}