{% extends "body.html" %}

{% block title %}
    <title>Операции</title>
{% endblock %}

{% block content %}
    {% if operations %}
        <h2>{{ info }}</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <td>Тип операции</td>
                    <td>Дата</td>
                    <td>Сумма</td>
                </tr>
                {% for o in operations %}
                    <tr>
                        <td>{{ o.actionType.description }}</td>
                        <td>{{ o.datetime }} </td>
                        <td>{{ o.money|floatformat:2 }} {{ o.bill.currency.title }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <h2>Нет операций.</h2>
    {% endif %}
{% endblock %}