{% extends "body.html" %}

{% block title %}
    <title>Мои сообщения</title>
{% endblock %}
{% block alerts %}{% endblock %}

{% block content %}

    <h1>Мои сообщения</h1>
    {% if messages %}

        <div class="container">

            <div class="list-group">
                {% for message in messages %}

                    <a id="message_{{ message.id }}" href="" data-toggle="modal" data-target="#myModalReadMessage"
                       data-header="{{ message.header }}"
                       data-message="{{ message.message }}"
                       data-messageid="{{ message.id }}" class="list-group-item">

                        <div class="pull-left form-control-inline">
                            <h4 class="list-group-item-heading">{{ message.header }}</h4>
                            <p class="list-group-item-text">{{ message.date }}</p>
                        </div>
                        {% if not message.readed %}<span id="read_message_{{ message.id }}"
                                                         class="label label-danger pull-right">Непрочитанное</span>{% endif %}
                        <div class="clearfix"></div>
                    </a>

                {% endfor %}

            </div>

        </div>


    {% endif %}

    {% include "modals/client_message.html" %}

    {% load staticfiles %}
    <script type="text/javascript" src="{% static "myjs/client_message.js" %}"></script>


{% endblock %}