{% extends "body.html" %}

{% block title %}
    <title>Мои сообщения</title>
{% endblock %}
{% block alerts %}{% endblock %}

{% block content %}
    {% if messages %}
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <td>Дата</td>
                    <td>Заголовок</td>
                </tr>
                {% for message in messages %}
                    <tr id="message_{{ message.id }}" {% if not message.readed %}style="font-weight: bold;"{% endif %}>
                        <td>{{ message.date }}</td>
                        <td>
                            <a href="" data-toggle="modal" data-target="#myModalReadMessage"
                               data-header="{{ message.header }}"
                               data-message="{{ message.message }}"
                               data-messageid="{{ message.id }}">{{ message.header }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <h2>У Вас нет сообщений</h2>
    {% endif %}

    {% include "modals/client_message.html" %}

    {% load staticfiles %}
    <script type="text/javascript" src="{% static "myjs/client_message.js" %}"></script>


{% endblock %}