<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap_custom.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "foundation/foundation.min.css" %}"/>
        <script type="text/javascript" src="{% static "jquery-3.1.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "foundation/foundation.min.js" %}"></script>
        <script type="text/javascript" src="{% static "jquery.inputmask.bundle.min.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "theme.css" %}"/>
        <script type="text/javascript" src="{% static "myjs/body_csrf.js" %}"></script>

        {% block head %} {% endblock %}

        {% block title %} {% endblock %}
    </head>
    <body role="document">
    {% if processing %}
        <h1>В данный момент ведется обработка данных.</h1>
    {% else %}
        <div id="data_scroll" class="row affix-row" style="margin: 0px; height: 100%; overflow: scroll">
            <div class="col-sm-3 col-md-2 affix-sidebar" style="padding: 0px;">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand"><a style="color: black" href="{% url 'index' %}">CLP Deposit</a></span>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                            <ul class="nav navbar-nav" id="sidenav01">
                                {% if user.is_authenticated %}
                                    <li class="active">
                                        <a href="#" data-toggle="collapse" data-target="#toggleDemo0"
                                           data-parent="#sidenav01"
                                           class="collapsed">
                                            <h4>
                                                {{ user.get_short_name }}
                                                <span class="caret"></span>
                                            </h4>
                                        </a>
                                        <div class="collapse" id="toggleDemo0" style="height: 0px;">
                                            <ul class="nav nav-list">
                                                {% include 'menu/profile.html' %}
                                            </ul>
                                        </div>
                                    </li>
                                    {% if  user.is_superuser %}
                                        {% include 'menu/admin_actions.html' %}
                                    {% else %}
                                        {% include 'menu/client_actions.html' %}
                                    {% endif %}
                                {% else %}
                                    <li class="active">
                                        <a href="{% url 'login' %}" data-toggle="collapse" data-target="#toggleDemo0"
                                           data-parent="#sidenav01"
                                           class="collapsed">
                                            <h4>
                                                Войти
                                            </h4>
                                        </a>
                                        <div class="collapse" id="toggleDemo0" style="height: 0px;">
                                            <ul class="nav nav-list">
                                            </ul>
                                        </div>
                                    </li>
                                {% endif %}

                                <li>
                                    <a href="{% url 'rate:today' %}">
                                        Курсы валют<br>
                                        {{ today }}
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://github.com/arthurchumak/tofi_backend">
                                        GitHub
                                    </a>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>

            <div id="body_content" class="col-sm-9 col-md-10 affix-content">
                <div class="container">
                    <div class="page-header">
                        <h3><a style="color: black" href="{% url 'index' %}">CLP Deposit</a></h3>
                    </div>
                    {% block alerts %}{% include 'alerts.html' %}{% endblock %}
                    {% block content %}{% endblock %}
                </div>
            </div>

        </div>


    {% endif %}

    </body>
</html>