{% extends "body.html" %}

{% block title %}
    <title>Измененить пароль</title>
{% endblock %}

{% block content %}
    <form class="abide-form" data-abide novalidate action="{% url 'password' %}" method="post">
        {% csrf_token %}
        <label>Старый пароль
            <input type="password" name="password_old" pattern="alpha_numeric" required>
            <span class="form-error">
              Обязательное поле. Допустимы только цифры и англ. буквы
            </span>
        </label>
        <label>Новый пароль
            <input type="password" name="password_new" id="password" pattern="alpha_numeric" required>
            <span class="form-error">
              Обязательное поле. Допустимы только цифры и англ. буквы
            </span>
        </label>
        <label>Повторно введите новый пароль
            <input type="password" name="password_new_repeat" pattern="alpha_numeric" required data-equalto="password">
            <span class="form-error">
              Обязательное поле. Пароли не совпадают!
            </span>
        </label>
        <input class="btn btn-default" type="submit" value="Подтвердить"/>
    </form>
    <script>
        $(document).foundation();
    </script>
{% endblock %}