<li>
    <a href="#" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
        <span class="glyphicon glyphicon-tasks"></span> Клиенты <span class="caret pull-right"></span>
    </a>
    <div class="collapse" id="toggleDemo" style="height: 0px;">
        <ul class="nav nav-list">
            <li><a href={% url 'client:new' %}>Зарегестрировать клиента</a></li>
            <li><a href={% url 'client:list' %}>Все клиенты</a></li>
        </ul>
    </div>
</li>

<li>
    <a href="#" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">
        <span class="glyphicon glyphicon-user"></span> Сотрудники <span class="caret pull-right"></span>
    </a>
    <div class="collapse" id="toggleDemo2" style="height: 0px;">
        <ul class="nav nav-list">
            <li><a href={% url 'employee:new' %}>Зарегестрировать</a></li>
            <li><a href={% url 'employee:list' %}>Список</a></li>
        </ul>
    </div>
</li>

<li>
    <a href="#" data-toggle="collapse" data-target="#toggleDemo3" data-parent="#sidenav01" class="collapsed">
        <span class="glyphicon glyphicon-cloud"></span> Вклады <span class="caret pull-right"></span>
    </a>
    <div class="collapse" id="toggleDemo3" style="height: 0px;">
        <ul class="nav nav-list">
            <li><a href="{% url 'deposit:list' %}">Вклады</a></li>
        </ul>
    </div>
</li>
