<li>
    <a href="#" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
        Клиенты <span class="caret" style="margin-top: 0px"></span>
    </a>
    <div class="collapse" id="toggleDemo" style="height: 0px;">
        <ul class="nav nav-list">
            <li><a href={% url 'client:new' %}>Зарегестрировать клиента</a></li>
            <li><a href={% url 'client:list' %}>Все клиенты</a></li>
        </ul>
    </div>
</li>

<li>
    <a href="#" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">
        Сотрудники <span class="caret" style="margin-top: 0px"></span>
    </a>
    <div class="collapse" id="toggleDemo2" style="height: 0px;">
        <ul class="nav nav-list">
            <li><a href={% url 'employee:new' %}>Зарегестрировать</a></li>
            <li><a href={% url 'employee:list' %}>Список</a></li>
        </ul>
    </div>
</li>

<li>
    <a href="{% url 'deposit:list' %}">
        Вклады </span>
    </a>
</li>
