{% if user.is_authenticated %}

    {% if  user.is_superuser %}
        <li>
            <a href={% url 'employee:info' %}>Мой профиль</a>
        </li>
    {% else %}
        <li>
            <a href={% url 'client:info' %}>Мой профиль</a>
        </li>
        <li>
            <a href={% url 'message:messages' %}>Мои сообщения <span class="badge badge-inverse" id="newmsg"></span></a>
        </li>
    {% endif %}
            <li>
                <a href={% url 'password' %}>Изменить пароль</a>
            </li>
            <li>
                <a href={% url 'logout' %}>Выйти</a>
            </li>
        {% endif %}
