<li id="msg" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {{ user.get_short_name }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if  user.is_superuser %}
            <li>
                <a href={% url 'employee:info' %}>Мой профиль</a>
            </li>
        {% else %}
            <li>
                <a href={% url 'client:info' %}>Мой профиль</a>
            </li>
            <li >
                <a id="newmsg" href={% url 'message:messages' %}>Мои сообщения</a>
            </li>
            <li>
                <a href={% url 'bill:billtransact' %}>Перевод на другой счёт</a>
            </li>
        {% endif %}
        <li>
            <a href={% url 'password' %}>Изменить пароль</a>
        </li>
        <li>
            <a href={% url 'logout' %}>Выйти</a>
        </li>
    </ul>
</li>