{% if user.is_authenticated %}

    {% if  user.is_superuser %}
        <li>
            <a href={% url 'employee:info' %}>Мой профиль</a>
        </li>
    {% else %}
        <li>
            <a href={% url 'client:info' %}>Мой профиль</a>
        </li>
        <li>
            <a href={% url 'message:messages' %}>Мои сообщения <span class="badge badge-inverse" id="newmsg"></span></a>
        </li>
    {% endif %}
            <li>
                <a href={% url 'password' %}>Изменить пароль</a>
            </li>
            <li>
                <a href={% url 'logout' %}>Выйти</a>
            </li>
{% else %}
    <li>
        <form class="form-inline" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input style="height: inherit; padding: 0px;" class="form-control"
                   name="username" type="text" placeholder="Email"><br>
            <input style="height: inherit; padding: 0px;" class="form-control"
                   name="password" type="password" placeholder="Password"><br>
            <button style="padding: 0px 8px;" class="btn btn-default" type="submit">Log in
            </button>
        </form>
    </li>
{% endif %}
